<div >
  <header class="jumbotron">
    <p>You are logged in as {{roles}}</p>
  </header>

  <div>
    <button (click)="create()">Create ToDo</button>
    <div *ngIf="createToDo">
      <input type="text" [(ngModel)]="todoName">
      <button (click)="submit()">submit</button>
    </div>
  </div>

  <div class="todo-item" *ngFor="let item of toDoList; let i = index">
    <div class="todo-info">
      <input type="text" [disabled]="true" [value]="item.name">
      <input type="text" [disabled]="true" [value]="item.open ? 'Open' : 'Close'">
      <img *ngIf="item.img" [src]="getSafeImageURL(item.img)" alt="Image">
    </div>
  
    <form (ngSubmit)="onSubmit(i)" #uploadForm="ngForm" >
      <input type="file" (change)="onFileSelected($event)" accept="image/**" />
      <button type="submit">Upload</button>
    </form>
  
    <div class="todo-buttons">
      <button (click)="closeToDo(i)">Close To Do</button>
      <button (click)="deleteToDo(i)">Delete</button>
    </div>
  </div>
  
  </div>
